<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="FreeSpire.Doc" version="5.5" targetFramework="net45" />
  <package id="Spire.Presentation" version="2.5.1" targetFramework="net45" />
  <package id="Spire.XLS" version="7.9.17" targetFramework="net45" />
</packages>